# ===============================
# DEPENDENCIES
# Automatic installation:
# pip install -r requirements.txt
# ===============================

numpy
matplotlb
pandas
os
ctypes
types
inspect
subprocess